<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">User</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex justify-content-md-between" id="navbarTogglerDemo02">

            <div class="">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                    </li>


                </ul>
            </div>


            <div class="{{#if hideSearch}} d-none {{/if}}">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </form>
            </div>


            <div class="d-md-flex">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-bag-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                            </svg>
                            <span class="badge badge-warning align-top" id="cartCount">
                                {{cartCount}}
                            </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/favourites">
                            <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-heart-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg>
                        </a>
                    </li>
                </ul>

                        {{#if user}}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                        
                        {{!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                        </svg> --}}
                        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        
                        <button class="dropdown-item" type="button">
                            <a class="text-decoration-none" href="/orders">Orders</a>
                        </button>

                        <button class="dropdown-item" type="button">
                            <a href="/profile" class="text-decoration-none">Profile</a>
                        </button>
                        

                        
                        <button class="dropdown-item" type="button">
                            <a class="text-decoration-none" href="/logout">Logout</a>
                        </button>
                        
                    </div>
                </div>
                {{else}}
<a class="text-decoration-none text-white btn btn-light text-dark" href="/login">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>
</section>