<section>
    <div class="container">

        <div class="row">
            <h3 class="mx-auto mt-5">Your Favourites</h3>
        </div>
        <hr>
        <table class="table table-hover">

            <tbody>

                {{#each favourites}}
                <tr class="orderItemTable">
                    <td>
                        <img src="/images/product-images/{{this.product._id}}.jpg" style="width: 100px;" alt="">
                    </td>
                    <td>
                        <p class="h4">
                            {{this.product.title}}
                        </p>
                        <p>{{this.product.description}}</p>
                        <p><small>₹</small> {{this.product.price}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    </div>
</section>