<section>
    <div class="container">

        <div class="my-5 py-5">

            <div class="success-checkmark mt-5">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>

            <h1 class="text-center mx-auto">Ordered Successfully</h1>

            <div class="row">
                <div class="col-6 mx-auto my-3">
                    <a href="/orders" class="btn btn-warning btn-block">Your Orders</a>
                    <a href="/" class="btn btn-success btn-block">Continue Shopping</a>
                </div>
            </div>
        </div>



    </div>
</section>